:root {
    background-color: #f4f2ff;
    height: 100%;
    color: rgba(0, 0, 0, 0.8); // todo remover
    font-family: Arial; // todo change
    --margin: 2.5rem;
    --max-width: min(1856px, 100% - var(--margin) * 2);
}