<a (click)="returnToListingPage()">voltar</a>
<div>Editar projeto</div>
<div>Nome do projeto (obrigatorio)</div>
<input type="text" [formControl]="nameControl">
<div>Cliente (obrigatorio)</div>
<input type="text" [formControl]="costumerControl">
<div>Data de Início (obrigatorio)</div>
<input type="date" [formControl]="startDateControl">
<div>Data Final (obrigatorio)</div>
<input type="date" [formControl]="endDateControl">

<div>Capa do projeto</div>
<input (change)="setFile($event)" type="file" accept=".jpg,.jpeg,.png" />
<img [src]="imageUrl" alt="Image Preview" style="max-width: 300px; max-height: 300px;" />
<button>🗑️</button>

<button (click)="createProject()">Salvar projeto</button>