#return-btn {
    // font-family: Encode Sans Semi Expanded;
    // line-height: 20px;
    margin-top: 67px;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #695CCD;
}

#new-project {
    // font-family: Encode Sans Semi Expanded;
    // line-height: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1F1283;
    margin-top: .5rem;
}

#form-section {
    margin-top: 33px;
    border: 1px solid #DCDCDC;
    border-radius: .5rem;
    padding: 52px;
    box-sizing: border-box;
}

#form-ctn {
    max-width: 704px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px 40px;

    &>* {
        flex-grow: 1;
    }
}

#name-input {
    flex-basis: 100%;

    &>input {
        margin-top: .25rem;
    }
}

#costumer-input {
    flex-basis: 100%;

    &>input {
        margin-top: .25rem;
    }
}

#start-date-input {
    flex-basis: 40%;

    &>input {
        margin-top: .25rem;
    }
}

#end-date-input {
    flex-basis: 40%;

    &>input {
        margin-top: .25rem;
    }
}

#save-btn {
    // font-family: Encode Sans Semi Expanded;
    // line-height: 22px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    flex-basis: 100%;
    height: 52px;
    border-radius: 26px;
    background-color: #B2A8FF;
    border: none;
    color: white;
}

input {
    // font-family: Encode Sans Semi Expanded;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: .5rem;
    border: 1px solid #717171;
    background-color: white;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    color: #1C1930;
    position: relative;

    // &::after {
    //     content: '';
    //     width: 24px;
    //     height: 100%;
    //     // inset: 7px 7px 7px 90%;
    //     background-image: url('../../../public/calendar-check-light.svg');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-color: white;
    //     display: block;
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     padding-right: 10px;
    //     right: 0;
    // }

    // &::-webkit-calendar-picker-indicator {
    //     display: none;
    // }
}

label {
    // font-family: Encode Sans Semi Expanded;
    // line-height: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #695CCD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;

    &>span {
        // font-family: Encode Sans Semi Expanded;
        // line-height: 22px;
        font-size: 14px;
        font-weight: 400;
        color: #717171;
    }
}

upload-input {
    flex-basis: 100%;
}