@let filteredProjects = (filteredProjects$ | async);

<input [formControl]="filterTextControl" type="text" placeholder="Digite o nome do projeto..." />
@if ((projects$ | async)?.length) {
<span>Projetos ({{(projects$ | async)?.length}})</span>
<input [formControl]="filterStarredControl" type="checkbox" />
<span>Apenas Favoritos</span>
<select [formControl]="assortmentControl">
    <option value="alphabetical">Ordem Alfabética</option>
    <option value="mostRecentStarted">Iniciados mais recentemente</option>
    <option value="closerToCompletionDate">Próximos à data de finalização</option>
</select>
<button (click)="openProjectCreationPage()">+ Novo projeto</button>
@for (project of filteredProjects; track $index) {
<pre>{{project | json}}</pre>
<img [attr.src]="project.coverImg?.getImgUrl$ | async" style="max-width: 300px; max-height: 300px;" />
<button (click)="onEditproject(project.id)">✏️ Editar</button>
<button (click)="deleteProject(project.id, project.name)">🗑️ Remover</button>
<button (click)="toggleProjectStar(project.id)">⭐ {{project.isStarred}}</button>
}} @else {
<div>Nenhum projeto</div>
<div>Clique no botão abaixo para criar o primeiro e gerenciá-lo.</div>
<button (click)="openProjectCreationPage()">+ Novo projeto</button>
}