:host {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100dvh;
}

#filter {
    height: 80px;
    box-shadow: 0 .25rem .25rem 0 #00000040;
    display: block;
    width: 100%;
    margin-inline: auto;
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
    }

    input {
        padding: 27px 74px;
        outline: none;
        border: none;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
}

#no-project-ctn {
    height: calc(100% - 60px - 60px);
    margin: auto;
    background-color: white;
    border-radius: 0.25rem;
    width: var(--max-width);
    display: grid;
    place-items: center;
    align-content: center;
    height: calc(100% - 60px);

    &>*:nth-child(1) {
        line-height: 30px;
        font-size: 24px;
        font-weight: 600;
        color: #1F1283;
    }

    &>*:nth-child(2) {
        line-height: 22px;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-size: 1rem;
        font-weight: 400;
        color: #717171;
    }

    &>*:nth-child(3) {
        line-height: 22px;
        width: 230px;
        height: 52px;
        border-radius: 50rem;
        background-color: #695CCD;
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
        padding: 0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

#control-ctn {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    width: var(--max-width);
    margin-inline: auto;
}

#title-ctn {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#star-filter-ctn {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#page-title {
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1F1283;
}

#project-amount {
    line-height: 21.25px;
    font-size: 1.0625rem;
    font-weight: 400;
    color: #695CCD;
}

#only-star {
    line-height: 22px;
    font-size: 1rem;
    font-weight: 400;
    color: #1E1E1E;
}

#sort-select {
    line-height: 18px;
    width: 296px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #717171;
    outline: none;
    color: #1C1930;
    font-size: 16px;
    font-weight: 400;
}

#new-project-btn {
    line-height: 24px;
    width: 184px;
    height: 40px;
    border-radius: 26px;
    background-color: #695CCD;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#card-ctn {
    padding: 22px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 21.625rem), 1fr));
    gap: 2rem;
    width: var(--max-width);
    margin-inline: auto;
}

.card {
    background-color: white;
    border-radius: 1rem;
    border: .0625rem solid #DCDCDC;
    display: grid;
    grid-template-rows: 14.4375rem 1fr;
    overflow: hidden;
}

.card-upper {
    position: relative;
}

.cover-img {
    width: 100%;
    height: 100%;
    background-color: #695ccd;
    object-fit: cover;
}

.card-control {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 1.5rem;
}

.card-bottom {
    padding: 1.5rem;
}

.project-name {
    line-height: 25px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #1F1283;
}

.project-costumer {
    margin-top: 5px;
    line-height: 20px;
    font-size: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: #717171;

    span {
        font-weight: 700
    }
}

.card-divider {
    border-top: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: none;
    border-bottom: none;
    margin-block: 1rem;
}

.menu-divider {
    border-top: 1px solid #F4F2FF;
    border-left: 1px solid #F4F2FF;
    border-right: none;
    border-bottom: none;
    margin: 0;
}

.project-date {
    line-height: 20px;
    color: #717171;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.menu-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: #695CCD;
    padding: 18px 20px;
    gap: 12px;
    background-color: white;
    border: none;
}

#search-icon {
    padding: 21px;
    cursor: pointer;
}